<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VasculAI</title>

</head>
<body>
    <!-- nav bar -->
    {% include 'navbar.html' %}

    <h1 class="text-center mt-3">Báo cáo khoa học</h1>
    <object class="mt-4" data="static/BCKH.pdf" type="application/pdf" width="100%" height="600px">
        <p> Unable to display PDF file. <a href="BCKH.pdf"> Download </a> instead. </p>
    </object>
</body>
</html>