<!-- nav bar -->
{% include 'navbar.html' %}


<!-- registration form -->
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3 row">

        <!-- left column -->
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <br>
                <h1 class="mt-4">Đăng ký & Xác thực</h1>
                <br><br>

                <div class="row">
                    <div class="col">
                        {{ form.name.label(class = 'form-label') }} 
                        {{ form.name(class = 'form-control') }}  
                        {{ form.email.label(class = 'form-label mt-4') }}
                        {{ form.email(class = 'form-control') }}
                        {{ form.phone.label(class = 'form-label mt-4') }}
                        {{ form.phone(class = 'form-control') }}    
                        {{ form.verify_code.label(class = 'form-label mt-4') }}
                        {{ form.verify_code(class = 'form-control') }}   
                        {{ form.administrator.label(class = 'form-label mt-4') }}
                        {{ form.administrator(class = 'form-control') }}      

                        <div class="input-group mb-3 mt-5">
                            <label class="input-group-text" for="inputGroupSelect01">Chọn lĩnh vực</label>
                            <select class="form-select" id="inputGroupSelect01">
                                <option value="1">Bệnh viện</option>
                                <option value="2">Cơ sở tư nhân</option>s
                                <option value="4">Phòng khám ngoại trú</option>
                                <option value="5">Dịch vụ pháp lý</option>
                                <option value="6">Bảo hiểm</option>
                                <option value="7">Giáo dục</option>
                            </select>
                        </div>
                          
                    </div>
                    <div class="col">
                         
                        {{ form.administrator_contact.label(class = 'form-label') }}
                        {{ form.administrator_contact(class = 'form-control') }}      
                        {{ form.password_hash.label(class = 'form-label mt-4') }}
                        {{ form.password_hash(class = 'form-control') }}
                        {{ form.password_hash2.label(class = 'form-label mt-4') }}              
                        {{ form.password_hash2(class = 'form-control') }}

                        <div class="mt-5">Lý do bạn chọn sử dụng giải pháp của chúng tôi?</div>
                        <br>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Generating referrals or enabling new business
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">
                                Sử dụng công nghệ tự động hóa giảm chi phí chung
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">
                                Khả năng truy cập hình ảnh y tế từ mọi nơi và trên mọi thiết bị
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">
                                Sự đơn giản dễ dùng trong giao diện website
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">
                                Khả năng tạo và gửi báo cáo chuyên môn cho bệnh nhân và đồng nghiệp
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">
                                Các chức năng hữu ích đem lại lợi ích cho công tác điều trị
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">
                                Có các chuyên gia đảm bảo xác minh tính an toàn và chính xác của dự án
                            </label>
                        </div>

                    </div>
                </div>
                
                <!-- button and link -->
                <div class="d-grid gap-2 mt-5">
                    {{ form.submit(class = 'btn btn-dark') }}
                    <p class="mt-3">Đã có tài khoản? <a href="{{ url_for('login')}}">Đăng nhập <i class="bi bi-arrow-right"></a></i></p>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</form>