<!-- nav bar -->
{% include 'navbar.html' %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/papaya.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/vasculAR.css') }}" />
    <title>Phân đoạn và tái tạo</title>

    <script type="text/javascript">
      var params = [];
      params['images'] = [
          "{{ url_for('static', filename = 'data/input.nii.gz') }}",
          "{{ url_for('static', filename = 'data/output.nii.gz') }}"
      ];
      papaya.Container.syncViewers = true;
    </script>
  </head>

  <body>
    <div class="mt-4">
      <h2 class="text-center">Phân đoạn hình ảnh cắt lớp và tái tạo 3D</h2>
      <div class="d-flex justify-content-center">
          <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
              Chức năng
          </button>
      </div>
      
      <div class="row mt-4">
        <div class="col">
          <div class="papaya" data-params="params"></div>
        </div>
        <div class="col">
          <div class="papaya" data-params="params"></div>
      </div>
    </div>

    
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Chức năng</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div class="container mt-5">
       

              <form id="upload-form"  action="/upload" method="post" enctype="multipart/form-data">
                <div class="row">
                  <div class="col-9">
                      <input class="form-control" type="file" name="imagefile" id="imagefile" />
                  </div>
                  <div class="col-3">
                      <input class="btn btn-primary" type="submit" value="Tải tệp" />
                  </div>
              </div>
              
           
                {% if not_file == True %}
                  <div class="alert alert-warning mt-3" role="alert">
                      Bạn chưa chọn tệp. Hãy chọn một tệp để hoàn tất quá trình tải dữ liệu.
                  </div>
                {% endif %}


              <div class="card shadow mt-4">
                <div class="card-body">
                  <button type="button" class="btn btn-outline-primary" onclick="move()">Bắt đầu phân khu</button>
                  <div id="myProgress" class="progress mt-3" role="progressbar">
                    <div class="progress-bar-striped progress-bar-animated bg-primary" id="myBar">0%</div>
                  </div>
                </div>
              </div>
              <div class="card shadow" style="margin-top:5px;">
                <div class="card-body">
                  <a href="{{ url_for('render') }}" type="button" class="btn btn-outline-danger" onclick="move2()">Bắt đầu tái tạo 3D</a>
                  <div id="myProgress2" class="progress mt-3" role="progressbar">
                    <div class="progress-bar-striped progress-bar-animated bg-primary bg-danger" id="myBar2">0%</div>
                  </div>
                </div>
              </div>
       
    
            
              <div class="card shadow mt-3">
                <div class="card-body">
                  <button type="button" class="btn btn-outline-primary">Đóng gói và tải xuống</button>
                  <form action="/download" class="mt-4">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                      <label class="form-check-label" for="flexCheckDefault">MRI images</label>
                    </div>
    
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                      <label class="form-check-label" for="flexCheckDefault">MRI được phân khu</label>
                    </div>
    
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                      <label class="form-check-label" for="flexCheckDefault">mô hình 3D</label>
                    </div>
    
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                      <label class="form-check-label" for="flexCheckDefault">Hồ sơ bệnh án</label>
                    </div>
                  </form>
                </div>
              </div>
          
       
        </div>
      </div>
    </div>

    
  </body>
</html>


<script type="text/javascript" src="{{ url_for('static', filename = 'js/papaya.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/vasculAR.js') }}"></script>